<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="../styles.css">
        <link rel="shortcut icon" href="../icon.png">
    </head>
    <body class="essays-page">
        <nav class="navbar">
            <a href="../index.html"><img src="../icon.png" alt="Home Icon" id="home-icon"></a>
            <a href="../essays.html">essays</a>
            <a href="../archive.html">Archive</a>
        </nav>
        <main>
            <h1>{{title}}</h1>
            <p>By {{author}} on {{date}}</p>
            <p>{{content}}</p>
        </main>
    </body>
</html>
